<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true"
>
<header class="grid_11 floatleft marginbottom"><h1>{glossary.title}</h1></header>
<div class="grid_12 clearer clearfix">
	<div class="grid_6 floatleft">
		<f:if condition="{glossary.images->f:count()}">
			<figure class="gridright marginbottom2">
				<f:render partial="Glossary/Images" arguments="{glossary: glossary}" />
			</figure>
		</f:if>
		<f:if condition="{glossary.description}">
			<div class="gridright marginbottom"><f:format.html>{glossary.description}</f:format.html></div>
		</f:if>
	</div>
</div>
</html>
