<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true"
>
<nav class="nav">
	<f:if condition="{settings.showAllLink}">
		<f:render section="renderListEntry"
							arguments="{cssClass: 'nav-link', ariaDisabled: false}" />
	</f:if>

	<f:for each="{glossary}" as="hasLink" key="letter">
		<f:if condition="{hasLink}">
			<f:then>
				<f:variable name="cssClass" value="nav-link" />
				<f:variable name="ariaDisabled" value="false" />
			</f:then>
			<f:else>
				<f:variable name="cssClass" value="nav-link disabled" />
				<f:variable name="ariaDisabled" value="true" />
			</f:else>
		</f:if>

		<f:render section="renderListEntry"
							arguments="{letter: letter, options: options, cssClass: cssClass, ariaDisabled: ariaDisabled}" />
	</f:for>
</nav>

<f:section name="renderListEntry">
	<f:if condition="{letter}">
		<f:then>
			<f:link.action
							action="{options.actionName}"
							class="{cssClass}"
							arguments="{letter: letter}"
							additionalAttributes="{aria-disabled: ariaDisabled}"
			><f:format.case mode="upper">{letter}</f:format.case></f:link.action>
		</f:then>
		<f:else>
			<f:link.action
							action="{options.actionName}"
							class="{cssClass}"
							additionalAttributes="{aria-disabled: ariaDisabled}"
			>{f:translate(key: 'all')}</f:link.action>
		</f:else>
	</f:if>
</f:section>
</html>
